@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #e7e1da;
    font-size: larger;
    font-family: 'Roboto', sans-serif; 
    border: 5px; 
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif; 
}

img {
    display: inline-block;
    float: left; 
}

nav {
    padding: 1%;
    background-color: #e69721;
    display: flex; 
    flex-direction: row; 
    width: 100%;
    text-align: center;
    float: left;
}

header {
    padding: 1%;
    background-color: #1A237E; 
}

footer {
    padding: 1%;
    background-color: #1A237E;
    display: block;
    width: 100%;
    font-size: smaller;
    height: 1%; 
}

table, tr, th {
    text-align: center;
    color: #000000;
}

p, a {
    font-size: x-large;
}

a {
    display: inline-block;
}


.container-flex {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    flex-direction: row;
}

.card {
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 10%;
}

